.btn{
    padding:10px;
    border:1px ;
    border-radius: 20px;
    margin-left: 100px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    margin-top: 20px;
    
}
.div1{width: 600px;
    height: 400px;
    padding: 10px;
    
    border: 2px solid grey;
   margin-top:50px;
    box-sizing: border-box;
    box-align: center;}