<!DOCTYPE html>
<html ng-app="ChatApp">
<head>
    <link href="../CSS/ForgotPassword.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>
<center>
    <body ng-controller="controlForgotPassword">
            <div class=div1>
                <h1>Forgot Password</h1>
                <!-- style="margin-top:60px;" -->
                <div>
                    <form name="myForm">
                        <p>EmailId&nbsp;&nbsp;<input type="email" name="myInput" ng-model="email">
                    </form>
                </div>
                <div>
                    <button class="btn" ng-click=forgotPassword()>Submit</button>  
                </div>
            </div>
    </body>
</center>

</html>