<!DOCTYPE >
<html ng-app="ChatApp" lang="en">

<head>
    <link href="/home/user/chatApp/client/css/resetPswd.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<center>

    <body>
        <div ng-controller="resetPasswordController">
            <div class="resetPswd" style="margin-top:150px;margin-left:20px;float: center;">
                <form>
                    <h4> reset your password here...</h4>
                    <input type="newPassword" placeholder="enter new password" id="txtnewPswd"><br><br>
                </form>
            </div>
            <div>
                <button class="btn" ng-click=ResetPassword()>submit</button>
            </div>
        </div>
    </body>
</center>

</html>